body{
    background-color: black;
    display: flex;
    margin: 0%;
    padding: 0;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

p, h1{
    color: white;
}

button{
    border: 1px solid white;
    color: white;
    font-size: 20px;
    width: 200px;
    height: 200px;
    background-color: black;
}

.reset button{
    border: none;
}

.wrapper > div:nth-child(2){
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 1fr 1fr 1fr;
}

.wrapper > div:nth-child(3){
    display: flex;
    justify-content: space-between;
}

.reset{
    display: flex;
    justify-content: space-between;
}

.reset button{
    height: 30px;
    width: auto;
    align-self: center;
}

.buttons :nth-child(n+1){
    border-top: none;
    border-left: none;
}

.buttons :nth-child(3n){
    border-right: none;
}

.buttons :nth-child(7), .buttons :nth-child(8), .buttons :nth-child(9){
    border-bottom: none;
}
